PORT=xxxx
MONGO_URL=xxxx
DEPLOYED_FE_URL=http://localhost:5173
FE_URL=http://localhost:5173
SECRET_KEY=your_secret_key_here
SALT_ROUNDS=

AWS_REGION=aws_region
AWS_ACCESS_KEY_ID=access_key
AWS_SECRET_ACCESS_KEY=secret_key
S3_BUCKET_NAME=bucket_name